@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    border: 2px solid red;
} */

body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 256px;
}

.links {
    display: flex;
    gap: 32px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header .link {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}


.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 64px 256px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
}

.hero .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero .subtitle {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200px;
}

.hero button {
    display: flex;
    height: 32px;
    width: 100px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
}

.hero img {
    height: 300px;
    width: auto;
    border: 3px solid #f9faf8;
    border-radius: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 32px 256px 128px;
    gap: 32px;
}

.info .title {
    display: flex;
    min-width: 160px;
    text-align: center;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .media {
    display: flex;
    min-width: 160px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.media .content {
    display: flex;
    height: 150px;
    width: 150px;
    border: 2px solid #1f2937;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.media .text {
    width: 125px;
    text-align: center;
}


.quote {
    min-width: 350px;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 128px 350px;
}

.quote .body {
    font-size: 36px;
}

.quote .attribution {
    font-size: 28px;
    padding: 36px 32px;
    font-weight: bold;
    text-align: end;
}


.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 256px;
}

.action .banner {
    box-sizing: border-box;
    display: flex;
    width: 2048px;
    min-width: 600px;
    height: 128px;
    padding: 32px 128px;
    background-color: #3882f6;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
}

.action .title {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.action .subtitle {
    color: #e5e7eb;
}

.action button {
    height: 32px;
    width: 128px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    font-weight: bold;
}